* {
    margin: 0;
    padding: 0;
   /* border: 0; */
}

body {
    font-family: Verdana,Tahoma,sans-serif;
    background: #56CCF2;
}

.container{
    max-width: 960px;
    margin: auto;
    background: white;
}

.form-title h2{
    text-align: center;
    padding: 50px;
}

form{
    font-size: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

form label{
    font-weight: bold;
    margin: 0 0 0 20px;
}

legend{
    font-weight: bolder;
    margin-left: 20px;
}

fieldset{
    font-weight: bolder;
    margin-bottom: 30px;
    padding: 20px;    
}
ul li{
    list-style: none;
}

input,
textarea,
select {
    width: 200px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    height: 20px;
}

/*
select {
    height: 40px;
}
*/
textarea{
    width: 710px;
    height: 150px;
    padding: 0;;
} 

input[type=radio]{
    width: 20px;
}
input[type=date]{
    width: 130px;
}
input[type=color]{
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
}
input[type=checkbox]{
    width: 20px;
}
input[type="submit"]:hover{
    font-weight: bolder;
    color: wheat;
    background-color: royalblue;
}

.esquerda{
    float: left;
}

.direita{
    float: right;
    text-align: right;
}

#botao{
    text-align: center;
}

:placeholder{
    color: royalblue;
}